@font-face {
  font-family: 'fonte-titulos';
  src: url('../public/optima-lt-std-extra-black.otf') format('opentype');
}

@font-face {
  font-family: 'fonte-nomes';
  src: url('../public/DeFonte\ reduced\ Normale.otf') format('opentype');
}

@font-face {
  font-family: 'fonte-teste';
  src: url('../public/LinotypeTypoAmerican.ttf') format('truetype');
}

/* @font-face {
  font-family: 'fonte-nomes';
  src: url('../public/DeFonte\ reduced\ Normale.otf') format('opentype');
} */


body{
  background-color: #505050;
  color: white;
  /* font-family: 'fonte-nomes',Times, serif; */
}


.container-escolha{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-ficha{
  width: 95vw;
  height: fit-content;
  padding: 20px 2.5vw 0px 2.5vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.container-item-ficha{
  padding: 10px 0px 10px 10px;
  margin: 10px;
  height: 90vh;
  background-image: url('../public/BackgroundFicha.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.item-1{
  display: flex;
  width: 66.66%;
  background-image: url('../public/BackgroundFicha1.png');
}

.item-2{
  display: flex;
  width: 66.66%;
  background-image: url('../public/BackgroundFicha2.png');
}

.titulo-branco{
  text-align: center;
  background-image: url('./imgs/BackgroundTitulos.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #505050;
  padding-top: 3px;
  padding-bottom: 3px;
  /* font-family: "fonte-teste"; */
}

.ficha-main-content{
  flex-grow: 9.95;
  display: flex;
  padding: 10px 0px 0px 10px;
}

.container-status-princ{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.container-info-princ{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 20vw;
}

.nome{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'fonte-nomes';
}

.info-geral{ 
  margin-right: 10px;
  font-size: .95rem;
}

.info-geral span{
  width: 85px;
  border-bottom: 1px solid white;
  display: inline-block;
}

.container-atribuitos{
  position: relative;
}

.container-atribuitos img{
  width: 20vw;
  position:absolute;
}

.atributo{
  position: absolute;
  z-index: 2;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.atributo h5{
  font-size: 2.5rem;
}

#for{
  left: 5%;
  top: 33%;
}

#agi{
  left: 36.5%;
  top: 14%;
}

#int{
  left: 68%;
  top: 33%;
}

#pre{
  left: 15%;
  top: 65%;
}

#vig{
  left: 57%;
  top: 65%;
}

.container-img-ordo{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container-img-ordo img{
  height: 25vh;
}

.saude{
  height: 175px;
  width: 47.5%;
  /* background: #00800052; */
}

.defesas{
  width: 47.5%;
  height: 175px;
  /* background: #00640052; */
}

.resistencias{
  /* background: #80008052; */
}

.container-armas{
  /* background: #ff000052; */
  height: 125px;
}

.table{
  color: white !important;
}

.container-pericias{
  /* background: #0000ff52; */
  width: 220px;
}

.pericias{
  padding-left:5px; 
  max-height: 80vh; 
  overflow-y: auto;
  overflow-x: hidden;
}

.container-status-base{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nome-valor{
  display: flex;
  justify-content: space-between;
  margin-top: 2.5px;
}
.nomeNV{

}
.valEgrauNV{
  display: flex;
  align-items: center;
}
.valNV{
  border: 1px solid white;
  padding: 2px;
  min-width: 35px;
  text-align: center;
}
.grauNV{
  font-size: 0.7rem;
  margin-left: 4px;
  min-width: 61.23px;
}


.ficha-bottons-content{
  flex-grow: 0.05;
  display: flex;
  flex-direction: column;
}

.button-ficha{
  width: 27px;
  height: 23vh;
  text-align: center;
  writing-mode: vertical-lr;
  cursor: pointer;
}


.container-foto-prof-hab-inv{

}

.container-hist-rituais{
  
}



.item-3{
  width: 33.33%;
  padding: 20px ;
}


.dados-disp{
  display: flex;
  flex-wrap: wrap;
}

.dado-normal{
  height: 100px;
  width: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  
}

.normal{
  transition: 0.5s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: rotate3d(0, 0, 0, 0deg);
}

.transformado {
  transition: 0.01s;
  transform: rotate3d(20, 20, 20, -240deg);
}

.dado-normal img{
  width: 100px;
  position: absolute;
}

.dado-amostra{
  height: 80px;
  width: 80px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.dado-amostra img{
  width: 80px;
  position: absolute;
}

.numero-dado4{
  margin: 0px;
  position: absolute;
  line-height: 0.8;
  font-size: 2rem;
}
.numero-dado6{
  margin: 0px;
  position: absolute;
  top:40px;
  left: 35px;
  line-height: 0.8;
  font-size: 2rem;
}
.numero-dado8{
  margin: 0px;
  position: absolute;
  top:40px;
  left: 40px;
  line-height: 0.8;
  font-size: 2rem;
}
.numero-dado10{
  margin: 0px;
  position: absolute;
  line-height: 0.8;
  font-size: 1.8rem;
}
.numero-dado12{
  margin: 0px;
  position: absolute;
  line-height: 0.8;
  font-size: 2rem;
}
.numero-dado20{
  margin: 0px;
  position: absolute;
  line-height: 0.8;
  font-size: 1.6rem;
}

.qtd-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.qtd-select{
  width: 60%;
  text-align: center;
  align-items: center;
  display:flex;
}

.qtd-container select{
   width: 70px;
   margin-left: 10px;
   height: 38px;
}

.qtd-container h5{
  padding-top: 4px;
}

.resul-princ-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-height: 40vh;
  overflow-y: auto;
  width: 60%;
  box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.77);
}

.scroll-personalizado::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-personalizado::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px 0px 0px 0px;
}

.scroll-personalizado::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 5px;
}

.scroll-personalizado::-webkit-scrollbar-thumb:hover {
  background: #939393;
}

/* element.style {
  
} */

.dado-pequeno{
  height: 35px;
  width: 35px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.dado-pequeno img{
  width: 35px;
  position: absolute;
}

.dado-pequeno h1{
  font-size: 0.9rem !important;
}

.dado-pequeno .numero-dado8{
  left: 13px;
  top: 12px;
}

.dado-pequeno .numero-dado6{
  left: 12px;
  top: 12px;
}



.container-result-hist{
  display: flex;
  margin-top: 10px;
}
.container-hist{
  width: 35%;
  max-height: 40vh;
  overflow-y: auto;
  margin-left: 10px;
}

.btn-dark {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #393939;
}
.btn-dark:focus {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #393939;
}

.item-hist {
  border-bottom: 2px solid #323232;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.soma{
  width: 60%;
  padding-top: 5px;
  text-align: center;
}

@media (max-width: 1500px)
{
  .dado-normal{
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 0.8rem !important;
  }

  .dado-normal img{
    width: 60px;
  }

  .dado-normal h1{
    font-size: 1.3rem !important;
  }

  .numero-dado8 {
    top: 20px;
    left: 23px;
  }

  .qtd-container h5{
    font-size: 0.8rem !important;
  }
  .qtd-container button{
    font-size: 0.8rem !important;
  }
  .titulos-result-hist h5{
    font-size: 0.8rem !important;
  }

  .resul-princ-container{
    max-height: 36vh;
  }

  .container-hist{
    max-height: 36vh;
  }
}

@media (max-width: 1200px)
{
  .container-ficha{
    flex-wrap: wrap;
  }
  .item-1{
    width: 100%;
  }
  .item-2{
    width: 100%;
  }
}


